{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include './css/css.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>T-Journal</title>
    </head>
    <body style="background-color: darkslategray;">
        <div>
            <div>
                <div id="header">
                    <a href="../" id="logo" id>T</a>
                    <span>
                        <img src="{% static 'img/header.jpg' %}" height="80px" width="85%">
                    </span>
                </div>
            </div>
            <div style="background-color: white; padding: 50px;">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include './js/js.html' %}
        <script>
            $(document).ready(function(){
                {% block jquery %}{% endblock %}
            })
        </script>
        <div style="background-color: rgb(126, 189, 0); padding: 25px;">
        </div>
    </body>
</html>